*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  color: white;
  margin: 3%;
  margin-top: 5%;
}

.form {
  display: flex;
  height: 70vh;
  width: 70vh;
  background-color: rgba(255, 255, 255, 0.13);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  display: flex;
}

.form h3 {
  display: flex;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  padding: 5%;
}

::placeholder {
  color: #e5e5e5;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  width: 100%;
  max-width: 180px;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ccc;
}

.circle img {
  width: 30px;
  height: 30px;
}

.divPrincipale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divAuthentication {
  padding-left: 0%;
}

.divAuthentication > input {
  margin-left: 12%;
}

.divAuthentication {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.objAuthentication {
  padding: 3%;
  margin: 3%;
}

.objAuthentication > Link {
  margin: 0%;
}

.bottoniNextBack {
  display: flex;
  margin-top: 3%;
  padding-right: 9%;
}

.bottoniNextBack > button {
  padding: 10%;
}
