@tailwind base;
@tailwind components;
@tailwind utilities;
.buttons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}
.info_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  z-index: 9999;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.78);
}

.map-container {
  width: 100%;
  height: 100vh;
}
.leaflet-control-container {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
